# Jupyter
.ipynb_checkpoints/

# Cache e temporários
__pycache__/
*.pyc

# Ambiente virtual
.conda/
.venv/
venv/
env/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos grandes de dados brutos
data/raw/pns2019.csv

*.html